body {
	background-image: url("img/grey_sandbag.png");
	color: #BBB;
	font-size: 1.25em;
}

* {
	box-sizing: border-box;
}

a {
	height: 100%;
	text-decoration: none;
	display: block;
	color: #BBB;
}

a:hover {
	color: #777;
}

a:active {
	color: #37b93d;
}